@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
h1, h2, h3, h4, h5, h6, p, a, button, input {
    font-family: 'Lobster', sans-serif;
    ;
    font-weight: 400;
}

h1 {
    font-size: 2.3rem;
}

.ToggledOn {
    background-color: rgb(156, 18, 18);
    color: whitesmoke;
}

body {
    background-color: #ededed;
}

.MuiList-root a {
    color: black !important;
}

a {
    text-decoration: none !important;
}

button, a {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0em;
    border-width: 0;
    border-style: none;
    border-color: transparent;
    border-image: none;
    outline: none !important;
}

.MuiAppBar a > * {
    padding: 1px;
    margin: 5px;
}
.rc-menu-button {
    position: relative;
    top: 2px;
    color: whitesmoke;
}

.menu {
    color: white !important;
    border-radius: 0.0rem !important;
    box-shadow: 0 3px 7px rgb(0 0 0 / 13%), 0 0.6px 2px rgb(0 0 0 / 10%) !important;
    min-width: 10rem ;
    background-color: black !important;
    padding: 0px!important;
}

.menu:hover {
   background-color: transparent;
}

.btn-link {
    text-decoration: none;
    margin-top: 2px;
}

.rc-menu__item--hover {
    background-color: transparent !important;
    padding: 5px !important;
}

.MuiTypography-root a {
    color: black;   
    width: 100%;
    height: 20px;    
}

.fragmentStarText{
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  margin-bottom: 8px;
}

.fragmentStarText span:first-child {    
    height: 29px;
    padding-right: 30px;
    position: relative;
    left: -2px;
}

.fragmentStarText span:last-child {
    display: flex;
    align-self:flex-end;
}


.ck.ck-balloon-panel.ck-balloon-panel_visible {
    z-index: 1400;
}

.ck.ck-editor__editable_inline {
    overflow: auto;
    padding: 0 !important;
    border: 1px solid transparent;
}

.create_blog_container_wrapper p {
    color: black !important;
}

.create_blog_container_wrapper .ck p {
    color: unset !important;
}

.MuiDialog-paperWidthSm {
    max-width: 900px !important;
}

.fileContainer {
    box-shadow: none !important;
}

.fileUploader {
    padding-right: 10px !important;
}

/* The emerging W3C standard
   that is currently Firefox-only */

* {
    scrollbar-width: thin;
    scrollbar-color: #343a40 whitesmoke;
}

/* Works on Chrome/Edge/Safari */

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: whitesmoke;
}

*::-webkit-scrollbar-thumb {
    background-color: #343a40;
    border-radius: 20px;
    border: 3px solid whitesmoke;
}

p {
    margin-bottom: 0px;
}

img {
    max-width: 100%;
}

.overlay_above_nav {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    background-color: #ededed;
}

.overlay_above_nav .container {
    margin-top: 0px !important;
    /* box-shadow: 1px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: white; */
}

figure {
    margin: 0 0 0rem; 
}

a {
    color: white;
}


/* .cke_focus {
    outline: none !important;
    border-width: 3px !important;
    border-style: solid !important;
    border-image-slice: 1 !important;
    border-image-source: linear-gradient(to left, rgba(255, 0, 0, 0.5), rgba(248, 148, 6, 0.5)) !important;
    padding: 3px !important;
    transition: 0.3s all !important;
}

.cke {
    margin-top: 5px !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
} */

.ck.ck-toolbar-dropdown .ck.ck-toolbar .ck.ck-toolbar__items {
    flex-wrap: wrap !important;
}

.editableAreaContainer a {
    margin: 0px !important;
    padding: 0px !important;       
}
.editableAreaContainer p {
    text-overflow: ellipsis;  
    overflow: hidden;
}

.editableAreaContainer img {
    max-width: 100% !important;
    min-width: 70px !important;    
}

.editableAreaContainer .image>figcaption {
    text-align: center;
    word-break: break-word;
    color: #333;
    background-color: #f7f7f7;
    padding: .6em;
    font-size: .75em;
    outline-offset: -1px;
    font-weight: 400;
}

.MuiCard-root .editableAreaContainer h1 {
    text-align: center;
    padding: 20px 10px 20px 10px;
    margin-bottom: 0px;
    color: #f7f7f7;
    background-color: #333;
}

.adminHome * {
    height: 100%;
    width: 100%;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    position: relative;
}

.fade-in {
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

.ea_border {
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.editableAreaContainer.loading {
    background: white;   
    display: flex;
    margin-left: 45%;
    align-items: center;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 576px) {
    .banner_wrapper {
        position: relative !important;
    }
}

@media (max-width: 991px) {
    .overlay_above_nav {
        position: relative;
        left: 0px;
        width: 100%;
        top: 0px;
        background-color: #333 !important;
    }
}

.loader {
    width: "100%";
    background-color: transparent;
    background-image: none;
}

.loader-wheel {
    animation: spin 1s infinite linear;
    border: 2px solid rgba(30, 30, 30, 0.5);
    border-left: 4px solid #fff;
    border-radius: 50%;
    height: 50px;   
    width: 50px;   
}

.loader-text {
    color: #fff;
    font-family: arial, sans-serif;
}
.MuiTouchRipple-root{
    width: 50px;
    height: 50px;
    margin-top: 300px;
}
.loader-text:after {
    content: 'Loading';
    animation: load 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        content: 'Loading';
    }
    33% {
        content: 'Loading.';
    }
    67% {
        content: 'Loading..';
    }
    100% {
        content: 'Loading...';
    }
}

/* ---------- Admin menu --------------- */

.menuTableContainer {
    display: flex;
    flex-direction: row;
    align-items: to;
    justify-content: flex-start;
    margin-top: 0px !important;
    box-shadow: 1px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    background-color: rgb(255, 255, 255);
    min-height: 500px;
    padding: 0px;
    border-radius: 20px;
}

.nestable {
    width: 100%;
}

.nestable-item {
    margin: 0px !important;
}

.nestable-list {
    margin: 0px !important;
}

.nestable-item-name {
    padding: 5px;
    background-color: #ededed;
    justify-content: space-between;
    display: flex;
    margin: 5px;
    border-radius: 20px;
}

.nestable-item-name::nth-child(even) {
    background-color: darkgray;
}

ol {
    list-style-type: none;
    counter-reset: item;
}

ol>li {
    counter-increment: item;
}

.adminMenu {
    position: absolute;
    z-index: 100;
}

.MuiAppBar-colorPrimary {
    background-color: transparent !important;
    box-shadow:none;
}