@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
h1, h2, h3, h4, h5, h6, p, a, button, input {
    font-family: 'Lobster', sans-serif;
    ;
}

body {
    background-color: #ededed;
}

/* The emerging W3C standard
   that is currently Firefox-only */
   * {
    scrollbar-width: thin;
    scrollbar-color: #343a40 whitesmoke;
  }
  
  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: whitesmoke;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #343a40;
    border-radius: 20px;
    border: 3px solid whitesmoke;
  }

p {
    margin-bottom: 0px;
}

img {
    max-width: 100%;
}

.overlay_above_nav {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    background-color: #ededed;
}

.overlay_above_nav .container {
    margin-top: 0px !important;
    box-shadow: 1px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
    background-color: white;
}

/* .cke_focus {
    outline: none !important;
    border-width: 3px !important;
    border-style: solid !important;
    border-image-slice: 1 !important;
    border-image-source: linear-gradient(to left, rgba(255, 0, 0, 0.5), rgba(248, 148, 6, 0.5)) !important;
    padding: 3px !important;
    transition: 0.3s all !important;
}

.cke {
    margin-top: 5px !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
} */

.ck.ck-toolbar-dropdown .ck.ck-toolbar .ck.ck-toolbar__items {
    flex-wrap: wrap !important;
}

.editableAreaContainer img {
    max-width: 100% !important;
    min-width: 50px !important;
}

.editableAreaContainer .image>figcaption {
    text-align: center;
    word-break: break-word;
    color: #333;
    background-color: #f7f7f7;
    padding: .6em;
    font-size: .75em;
    outline-offset: -1px;
    font-weight: 400;
}

.MuiCard-root .editableAreaContainer h1 {
    text-align: center;
    padding: 20px 10px 20px 10px;
    margin-bottom: 0px;
    color: #f7f7f7;
    background-color: #333;
}

.editableAreaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    opacity: 1;
}

.fade-in {
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

.ea_border {
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.editableAreaContainer.loading {
    background: white;
    margin: 10px;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 576px) {
    .banner_wrapper {
        position: relative !important;
    }
}

@media (max-width: 991px) {
    .overlay_above_nav {
        position: relative;
        left: 0px;
        width: 100%;
        top: 0px;
        background-color: #333 !important;
    }
}

.loader {
    width: 60px;
}

.loader-wheel {
    animation: spin 1s infinite linear;
    border: 2px solid rgba(30, 30, 30, 0.5);
    border-left: 4px solid #fff;
    border-radius: 50%;
    height: 50px;
    margin-bottom: 10px;
    width: 50px;
}

.loader-text {
    color: #fff;
    font-family: arial, sans-serif;
}

.loader-text:after {
    content: 'Loading';
    animation: load 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        content: 'Loading';
    }
    33% {
        content: 'Loading.';
    }
    67% {
        content: 'Loading..';
    }
    100% {
        content: 'Loading...';
    }
}