.bannerEditModeContainer {
    display: flex;
    flex-direction: row;
}

.bannerColumnEditor {
    position: absolute;
    bottom: 35px;
    left: 20px;
    opacity: 0;
    height: 300px;
    min-width: 260px;
    z-index: 1000;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    transition: 0.3s;
    border-radius: 30px;
    border: 1px solid rgba(27, 18, 18, 0.582);
    display: flex;
    justify-content: start;
    flex-direction: row;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.3s;
}

.bannerColumnEditor.show {
    opacity: 1;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.3s;
}

.bannerColumnEditor * {
    display: none;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.3s;
}

.bannerColumnEditor.show * {
    display: flex;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.3s;
}

.bannerColumnEditor.show .deleteImage {
    display: block;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.3s;
}

.bannerColumnEditor::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -7%;
    left: 1.5em;
    border: .75rem solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    z-index: 1;
    filter: drop-shadow(0.0625rem -0.0625rem 0 linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%));
    transform: rotate(210deg);
    transform-origin: left top
}

.bannerColumnEditorButton {
    position: absolute !important;
    height: 20px;
    bottom: 10px;
    left: 10px;
    background-color: #ededed !important;
    z-index: 1000;
    border: none;
    outline: none;
}

.editContainer button {
    text-transform: capitalize;
    margin: 5px;
}

.editContainer2 button {
    text-transform: uppercase;
    font-weight: 600;
}

.editContainer .MuiButton-root {
    font-size: 0.675rem;
}

.carouselButton {
    z-index: 10000;
    display: flex;
    align-items: center;
    color: rgb(57, 255, 20);
}

.carouselButton.Left {
    position: relative;
    top: -10px;
    left: 20px
}

.carouselButton.Right {
    position: relative;
    top: -10px;
    right: 20px;
}

.bannerButtonContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1 1 1 1 1;
    padding: 20px;
}

.errorMessage {
    visibility: hidden;
}

.carousel-control-prev-icon, .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23343a40' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23343a40' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.MuiFormControlLabel-root {
    position: relative;
    left: 3px;
}

.editContainer3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-controls .carousel-control-prev.hide {
    z-index: 0;
    visibility: hidden;
}

.carousel-controls .carousel-control-next.hide {
    z-index: 0;
    visibility: hidden;
}

/* 0----------------------------------------- */

.banner {
    position: relative;
}

.blogCard .banner {
    margin-bottom: 0px !important;
}

.bannerEditorButtons {
    bottom: 0px;
    left: 0%;
    z-index: 20;
    float: left;
    position: relative;
}

.deleteImage {
    top: -55px !important;
    position: absolute !important;
    left: 104px;
}

.uploadPicture {
    display: none !important;
}

.errorsContainer {
    display: none !important;
}

.fileContainer .uploadPictureContainer {
    border: 0px !important;
    height: 0px !important;
    box-shadow: none !important;
}

.fileUploader {
    top: 5px;
    position: relative;
}

.bannerEditorButtons * {
    padding-right: 10px;
}

.MuiButtonBase-root {
    margin: 5px;
}

a {
    scroll-behavior: smooth !important;
}

.bannerEditorButtons {
    z-index: 200;
    display: flex;
    flex-direction: row;
    max-width: 800px;
    max-height: 58px;
    align-items: end;
    background-color: whitesmoke;
    padding: 10px;
    display: flex !important;
    align-items: center;
    border-radius: 0px;
    animation: fadein 0.5s linear;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.bannerSmall {
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-direction: column;
}

.bannerEditorButtonsSmall {
    max-width: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.bannerSmall .carousel-indicators {
    top: 0px !important;
}

.bannerSmall .carousel-caption {
    top: 30px !important;
    overflow-y: scroll;
}

.banner .carousel-caption {
    bottom: 80px !important;
    overflow-y: scroll;
}

.carousel-caption::-webkit-scrollbar {
    display: none !important;
}

.bannerEditButton {
    z-index: 2;
    color: #ededed !important;
    background-color: black !important;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-indicators li {
    background-color: grey;
}