.bannerEditModeContainer {
    display: flex;
    flex-direction: row;

}

.bannerColumnEditor {
    position: absolute;
    bottom: 35px;
    left: 20px;
    height: 300px;
    min-width: 100px;
    z-index: 100000;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    padding: 20px;
    transition: 0.3s;
    border-radius: 30px;
    border: 1px solid rgba(27, 18, 18, 0.582);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.bannerColumnEditor::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: -7%;
	left: 1.5em; 
	border: .75rem solid transparent;
	border-top: none;
	border-bottom-color: #fff;
    z-index: 1;
	filter: drop-shadow(0.0625rem -0.0625rem 0 linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%));
    transform: rotate(210deg); 
    transform-origin: left top
}

.bannerColumnEditor.MuiButton-container {

    min-width: 30px;

}

.bannerColumnEditorButton {
    position: absolute !important;
    width: 20px;
    height: 20px;
    bottom: -25px;
    left: -3%;
    background-color: #ededed !important;

}

.editContainer button {
    text-transform: capitalize;
    width: 45%;
    height: 50px;
    margin: 5px;
}

.editContainer2 button {
    text-transform: uppercase;
    font-weight: 600;
}




